<!DOCTYPE html>
<html>
	<head>
		<title>Monster Slayer</title>
		<link rel="stylesheet" href="src/styles/app.css" />
		<link rel="stylesheet" href="src/styles/foundation.min.css" />
		<script src="src/main.js" defer></script>
		<script src="src/App.js" defer></script>
	</head>
	<body>
		<div id="app">
			<section class="row">
				<div class="small-6 columns">
					<h1 class="text-center">YOU</h1>
					<div class="healthbar">
						<div
							class="healthbar text-center"
							style="background-color: green; margin: 0; color: white"
							v-bind:style="{width: playerOne.health + '%'}"
						>
							{{playerOne.health}}
						</div>
					</div>
				</div>
				<div class="small-6 columns">
					<h1 class="text-center">MONSTER</h1>
					<div class="healthbar">
						<div
							class="healthbar text-center"
							style="background-color: green; margin: 0; color: white"
							v-bind:style="{width: playerTwo.health + '%'}"
						>
							{{ playerTwo.health }}
						</div>
					</div>
				</div>
			</section>
			<section class="row controls" v-if="!gameIsRunning">
				<div class="small-12 columns">
					<button id="start-game" @click="startGame">START NEW GAME</button>
				</div>
			</section>

			<template v-if="gameIsRunning">
				<section class="row controls">
					<div class="small-12 columns">
						<button id="attack" @click="attack">ATTACK</button>
						<button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
						<button id="heal" @click="heal">HEAL</button>
						<button id="give-up" @click="giveUp">GIVE UP</button>
					</div>
				</section>

				<section class="row log">
					<div class="small-12 columns">
						<ul>
							<li class="player-turn" v-for="(log, index) in historyLog" v-bind:key="index">
								<p class="player-turn" v-if="log.isPlayerOne">{{log.message }}</p>
								<p class="monster-turn" v-if="log.isPlayerTwo">{{log.message }}</p>
							</li>
						</ul>
					</div>
				</section>
			</template>
		</div>
	</body>
</html>
